<footer class="footer text-muted ">
    <div class="row">
      <div class="col-md-4 copyright" >
         Created by Kimmo Halonen 2017
      </div>
      <div class="col-md-8" >
        <a href="mailto: hemmoi@gmail.com" class="link"><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span> Email </a>
        <a target="_blank" href="https://www.linkedin.com/in/kimmokhalonen/" class="link"><span class="glyphicon glyphicon-user" aria-hidden="true">  </span> LinkedIn </a>
        <a target="_blank" href="https://github.com/hemmoi/recipe-book" class="link"><span class="glyphicon glyphicon-book" aria-hidden="true"> </span> Github source files </a>
      </div>
    </div>
</footer>
